<%= link_to 'HOME', restaurants_path %>
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.average_rating %></p>
<%= link_to 'Add review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Add location', new_restaurant_location_path(@restaurant) %>

<h3> Current reviews</h3> 
<% @reviews.each do |review| %>
<p><%= review.content %></p>
<% end %> 

<h3> Current locations</h3>
<% @locations.each do |location| %>
<p><%= location.name %> allows takeaway? <%=location.takeaway %>
<% end %>


